body {
    background-color: rgb(232, 229, 245);
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.titulo {
    padding-top: 20px;
    font-family: fantasy;
    text-decoration: underline;
}

.imagen-producto img{

    border: 5px solid rgb(0, 26, 255);
}

.descripcion {
    margin-top: 50px;
}

.descripcion tbody {
    border: 5px double rgb(183, 0, 255);
}

.descripcion td {
    text-align: center;
}

#pie-de-pagina {
    margin-top: 40px;
    background-color: rgb(156, 138, 187);
    color: blanchedalmond;
}

.table-striped td {
    font-size: 20px;
    text-align: center;
}

.table-striped th {
    font-size: 25px;
    text-align: center;
}

.footer-copyright a {
    color: rgb(239, 255, 10);
    text-decoration: 
}

.navbar-light {
    background-color: rgb(207, 199, 199);
}

.navbar-light button {
    color: rgb(0, 0, 0);
    border: 2px solid;
}