body { /* Color del fondo de las páginas */
    background-color: rgb(232, 229, 245);
}

.navbar-brand img { /* Modificar encabezado */
    width: 150px;
    height: auto;
}

.navbar-light {
    background-color: rgb(201, 191, 191);
}

.navbar-light button {
    color: rgb(0, 0, 0);
    border: 2px solid;
}

.titulo { /* Aquí empieza la modificación de la página producto */
    padding-top: 20px;
    font-family: fantasy;
    text-decoration: underline;
}

.imagen-producto img{

    border: 5px solid rgb(0, 26, 255);
}

.descripcion {
    margin-top: 50px;
}

.descripcion tbody {
    border: 5px double rgb(183, 0, 255);
}

.descripcion td { /* Aquí termina la modificación de la página producto */
    text-align: center;
}

#pie-de-pagina { /* Estilo del pie de página de la web */
    margin-top: 40px;
    background-color: rgb(156, 138, 187);
    color: blanchedalmond;
}

.footer-copyright a {
    color: rgb(239, 255, 10);
}

#contenido .table-striped td { /* Estilo de la tabla de los items */
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contenido .table-striped th {
    font-size: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#encabezado-backend .navbar-light { /* Estilo del encabezado del backend */
    background-color: rgb(136, 132, 101);
}

#encabezado-backend .nav-link {
    color: beige;
    font-size: 25px;
}

#encabezado-backend .navbar-brand {
    color: rgb(73, 17, 17);
    font-size: 45px;
    font-family: fantasy;
}

#encabezado-backend .navbar-light button {
    color: rgb(0, 0, 0);
    border: 2px solid;
}

#pie-de-pagina-backend { /* Estilo del pie de página del backend */
    margin-top: 40px;
    background-color: rgb(2, 2, 2);
    color: blanchedalmond;
}

.formulario-backend { /* Estilo del formulario del backend */
    margin-top: 60px;
}

.formulario-backend .btn-primary{ /* Estilo de la tabla de items del backend */
    margin-left: 30px;
}

#contenido-backend .table-striped td {
    text-align: center;
}

#contenido-backend .table-striped th {
    text-align: center;
}
