<div id="pie-de-pagina-backend">
  <footer class="page-footer font-small teal pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright &copy; 2020
      All Rights Reserved
      This product is protected by copyright and distributed under
      licenses restricting copying, distribution, and decompilation.
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><a href="https://github.com/JJimenez-1">JJimenez-1</a> y
      <a href="https://github.com/DanielFernandezR">DanielFernandezR</a></div>
  </footer>
</div>