<!doctype html>
<html lang="en">

<head>
    <title>Ollivander's Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <!-- CSS creado por mí para elegir cosas de estilo por mi cuenta -->
    <script src="static/js/functions.js"></script>
</head>

<body>
    <div id="principal">
        {% include 'header.html' %}
        <!-- Añadimos el encabezado del archivo header.html -->
        <div id="contenido">
            <div class="row justify-content-center">
            <!-- Creamos una tabla para ver los items de la tienda -->
                <div class="col-auto">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Nº Item</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Dias para caducar</th>
                                <th scope="col">Calidad</th>
                                <th scope="col">Enlace al producto</th>
                            </tr>
                        </thead>
                        <tbody id="taulaItems">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        <!-- Le añadimos el pie de página desde el archivo footer.html -->
    </div>
    <script>
        window.onload = function() {
          loadItems();
        };
    </script>
</body>

</html>